

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    margin-top: 20px;
    padding: 20px;
    width: 60%;
    height: auto;
    text-align: center;
    overflow: scroll;
    border-radius: 30px;
}

.quiz div {

}

.quiz h3 {
    font-size: 25px;
}

.quiz p {
    font-size: 20px;
    cursor: pointer;
}

.quiz p:hover {
    background-color: white;
    border: 1px solid #5a3e96;
}

.quiz h1 {
    /* text-align: center; */
    margin: auto;
    padding: 10px 20px;
    background-color: #5a3e96;
    color: white;
    border-radius: 20px;
    display: inline-block;
    width: fit-content;
}