.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aliceblue;
  margin-top: 20px;
  padding: 20px;
  width: 60%;
  height: auto;
  text-align: center;
  overflow: scroll;
  border-radius: 30px;
}

.quiz div {
}

.quiz h3 {
  font-size: 25px;
}

.delete-btn {
    margin: auto;
    background-color: red;
    color: white;
}

.quiz p {
  margin: auto;
  margin-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 15px 25px;
  width: fit-content;
  border-radius: 15px;
}

.quiz .correct {
    background: green;
}

.quiz .wrong {
    background: red;
}

.quiz p:hover {
  background-color: #5a3e96;
  color: white;
}

.quiz p:active {
  background-color: #926fdf;
}

.quiz h1 {
  /* text-align: center; */
  margin: auto;
  padding: 10px 20px;
  background-color: #5a3e96;
  color: white;
  border-radius: 20px;
  display: inline-block;
  width: fit-content;
}
